header{
    height: 100%;
    background-color: rgb(53, 56, 57);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu-apuntate{
    color:white;
    text-decoration: none;
    background-color: rgb(239, 71, 111);
    padding: 8px 12px;
    border-radius: 5px;
}


.logo{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Carter One', cursive;
    padding: 10px 40px;
}


.nav-menu {
    display: flex;
    margin: 37px 40px 0px 0px;
    list-style: none;
    font-family: 'Viga', sans-serif;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    width: max-content;
}



.pie{
    clear:left;
    height: 120px;
    background-color: rgb(53, 56, 57);
}

#follow{
    color: white;
    font-size: 26px;
    font-family: 'Viga', sans-serif;
    margin: 1% 0% 0% 1%;
}

.facebook {
    background-image: url(https://i.imgur.com/a86FOOK.png);
    padding: 26px 25px;
    margin: 1% 0% 0% 1%;
    cursor: pointer;
    background-color: transparent;
    border:none
}

.twitter {
    background-image: url(https://i.imgur.com/2JXY1Sz.png);
    padding: 26px 25px;
    margin: 1% 0% 0% 1%;
    cursor: pointer;
    background-color: transparent;
    border:none
  
}

.instagram {
    background-image: url(https://i.imgur.com/cuXszV7.png);
    padding: 26px 25px;
    margin: 1% 0% 0% 1%;
    cursor: pointer;
    background-color: transparent;
    border:none
}

.Iniciocontenidocentral1{
    height: 1000px;
    background-image:  url(https://i.imgur.com/Er5PeNx.png);
    background-repeat: repeat-x;
    background-color:rgb(0, 188, 179); 
    float: left;
    width: 100%;
    margin: 0.5% 0 0.5% 0; 
}

.Iniciocuadro1 {
    height: 15%;
    background-color: rgb(53, 56, 57);
    float: left;
    width: 70%;
    margin: 11% 0 0% 15%; 
    border-radius: 10px;
}

.Inicioc1contenido {
    color:white;
    font-size: 30px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.Inicioc1contenido1 {
    height: 8%;
    color:white;
    float: left;
    width: 25%;
    margin: 1% 0 0% 2%; 
    text-align:center;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.Inicioc1contenido2 {
    height: 8%;
    color:white;
    float: left;
    width: 25%;
    margin: 1% 0 0% 10%; 
    text-align:center;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.Inicioc1contenido3 {
    height: 8%;
    color:white;
    float: left;
    width: 25%;
    margin: 1% 0 0% 10%; 
    text-align:center;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}
.Inicioc2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin: 4.5% 0% 0% 13%;
    color:black;
}

.Iniciocuadro2 {
    background-color: rgb(255, 255, 255);
}

.Iniciocuadro3 {
    background-color: rgb(239, 71, 111);
}

.duologia {
    height: 570px;
    float: left;
    width: 35%;
    margin: 2% 0% 0% 10%; 
    border-radius: 10px;
}


.Inicioc3contenido1{
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: 'Sora', sans-serif;
    margin-top: 5%;
}

.Inicioc3contenido2{
    color: white;
    font-size: 37px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    padding: 0px 30px;
    margin-top: 4%;
}

.Inicioc3contenido3{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    padding: 0px 30px;
    margin-top: 5%;
}

.Iniciocontactanos {
    color: rgb(53, 56, 57);
    background-color: white;
    border: none;
    padding: 1.5% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Sora', sans-serif;
    transition-duration: 0.3s;
    position:absolute;
    margin: 2% 0% 0% 6%;
    

}

.Iniciocontactanos:hover{
    background-color: rgb(53, 56, 57);
    color: white;
}

.Cuotascontenidocentral1{
    height: 1100px;
    background-image:  url(https://i.imgur.com/sooANRx.png);
    background-repeat: repeat-x;
    background-color:rgb(0, 188, 179); 
    float: left;
    width: 100%;
    margin: 0.5% 0 0.5% 0; 
}

.Cuotascuadro1 {
    height: 150px;
    background-color: rgb(53, 56, 57);
    float: left;
    width: 70%;
    margin: 15% 0 0% 15%; 
    border-radius: 10px;
}

.Cuotasc1contenido {
    color:white;
    font-size: 30px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.Cuotasc1contenido1 {
    height: 80px;
    color:white;
    float:left;
    width: 80%; 
    text-align:center;
    font-size: 16px;
    margin: 1% 0 0% 9%; 
    font-family: 'Varela Round', sans-serif;
}




.Cuotastrilogia {
    height: 570px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 25%;
    margin: 2% 0 0% 6%; 
    border-radius: 10px;
}

.Cuotastitulos{
    color:rgb(239, 71, 111);
    font-size: 35px;
    text-align:center;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-decoration: underline;

}

.Cuotasbotonapuntate {
    color:white;
    font-size: 30px;
    text-align:center;
    background-color: rgb(239, 71, 111);
    padding: 6% 11%;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    float: none;
    font-family: 'Viga', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

.Cuotasbotonapuntate:hover{
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
}

.CuotasInvi{
    color: white;
}

.Cuotassubinfo{
    color:rgb(53, 56, 57);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: -10px 0px 17px 15px;
}

.Contactocontenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.Contactocontenidocentral1{
    height: 1200px;
    background-image:  url(https://i.imgur.com/OtrVbkN.png);
    background-repeat: repeat-x;
    background-color:rgb(0, 188, 179); 
    float: left;
    width: 100%;
    margin: 0.5% 0 0.5% 0; 
}

.Contactocuadro1 {
    height: 15%;
    background-color: rgb(53, 56, 57);
    float: left;
    width: 70%;
    margin: 11% 0 0% 15%; 
    border-radius: 10px;
}

.Contactoc1contenido {
    color:white;
    font-size: 30px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 2%;

}

.Contactoc1contenido1 {
    height: 80px;
    color:white;
    float: left;
    width: 80%;
    margin: 1% 0 0% 10%; 
    text-align:center;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}



.Contactocuadro2 {
    height: 60%;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 70%;
    margin: 2% 0 0% 15%; 
    border-radius: 10px;
    justify-content: center;
}

form{
    height: 88%;
    width: 85%;
    margin: 3% 0% 0% 7.5%;
    background-color: rgb(239, 71, 111);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}

.Contactorelleno{
    color: black;
    font-family: 'Poppins', sans-serif;
}


.Contactorelleno, textarea{
    width: 80%;
    height: 8%;
    color: rgb(53, 56, 57);
    margin-bottom: 20px;
    margin-left: 10%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}



textarea{
    min-height: 200px;
    max-height: 200px;
    max-width: 80%;
    min-width: 80%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(53, 56, 57);
}

#Contactobotonenviar{
    background-color:  rgb(53, 56, 57);
    color: white;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    width: 40%;
    height: 8%;
    border: none;
    margin-left: 30%;
    font-size: 22px;
}

#Contactobotonenviar:hover{
    cursor: pointer;
    background-color: rgba(53, 56, 57, 0.8); 
}


.Contactorespuestas:hover{
    background-color: rgb(53, 56, 57);
    color: white;
}

.Clasescontenidocentral1{
    height: 1300px;
    background-image:  url(https://i.imgur.com/PwwocoK.png);
    background-repeat: repeat-x;
    background-color:rgb(0, 188, 179); 
    float: left;
    width: 100%;
    margin: 0.5% 0 0.5% 0; 
}

.Clasescuadro1 {
    height: 150px;
    background-color: rgb(53, 56, 57);
    float: left;
    width: 70%;
    margin: 15% 0 0% 15%; 
    border-radius: 10px;
}

.Clasesc1contenido {
    color:white;
    font-size: 30px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.Clasesc1contenido1 {
    height: 80px;
    color:white;
    float:left;
    width: 80%; 
    text-align:center;
    font-size: 16px;
    margin: 1% 0 0% 9%; 
    font-family: 'Varela Round', sans-serif;
}


.Clasescuadro2 {
    height: 800px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 86%;
    margin: 1% 0 0% 7%; 
    border-radius: 10px;
}

table {
    
     border-collapse:collapse;
     width:90%;
     height: 90%;
     border: 10px solid;
     text-align: center;
     margin: 2.5% 0% 0% 5.5%;;
     border-color: white;
     font-family: 'Varela Round', sans-serif;
}

     .Clasesdias{
        color: white;
        font-size: 30px;
        border: 10px solid;
         border-color: white;
         background-color: rgb(239, 71, 111);
    }

    .Claseshorarios{
        color: white;
        font-size: 30px;
        border: 10px solid;
        border-color: white;
        background-color: rgb(239, 71, 111);
        font-weight: bold;
    }
    
  .Clasesgridcontenido{
      font-size: 20px;
      color: rgb(53, 56, 57);
      border: 10px solid;
      border-color: white;
      background-color: rgb(255, 157, 180);
      font-weight: bold;
   }

   .Apuntatecontenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.Apuntatecontenidocentral1{
    height: 1500px;
    background-image:  url(https://i.imgur.com/skbaqXo.png);
    background-repeat: repeat-x;
    background-color:rgb(0, 188, 179); 
    float: left;
    width: 100%;
    margin: 0.5% 0 0.5% 0; 
}

.Apuntatecuadro1 {
    height: 12%;
    background-color: rgb(53, 56, 57);
    float: left;
    width: 70%;
    margin: 11% 0 0% 15%; 
    border-radius: 10px;
}

.Apuntatec1contenido {
    color:white;
    font-size: 30px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 2%;

}

.Apuntatec1contenido1 {
    height: 80px;
    color:white;
    float: left;
    width: 80%;
    margin: 1% 0 0% 10%; 
    text-align:center;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}



.Apuntatecuadro2 {
    height: 70%;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 70%;
    margin: 2% 0 0% 15%; 
    border-radius: 10px;
    justify-content: center;
}

#Apuntateform{
    height: 92%;
    width: 85%;
    margin: 3% 0% 0% 7.5%;
    background-color: rgb(239, 71, 111);
    padding: 10px 18px;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}

#Apuntateh3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

#Apuntateh2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
}

.Apuntaterelleno{
    color: black;
    font-family: 'Poppins', sans-serif;
}


.Apuntaterelleno{
    width: 30%;
    height: 6%;
    color: rgb(53, 56, 57);
    margin-bottom: 20px;
    margin-left: 2.4%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}




#Apuntatebotonenviar{
    background-color:  rgb(53, 56, 57);
    color: white;
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    width: 40%;
    height: 8%;
    border: none;
    margin-left: 30%;
    font-size: 22px;
}

#Apuntatebotonenviar:hover{
    cursor: pointer;
    background-color: rgba(53, 56, 57, 0.8); 
}




.Apuntaterespuestas:hover{
    background-color: rgb(53, 56, 57);
    color: white;
}

@media (max-width: 1600px) {
    .Cuotassubinfo {
      font-size: 16px;
    }

    .Cuotastitulos {
        font-size: 34px;
    }

    .Cuotasbotonapuntate {
        font-size: 25px;
    }

    .Cuotasc1contenido {
        font-size: 25px;
    }

    .Cuotasc1contenido1 {
        font-size: 15px;
    }

    .Inicioc1contenido {
        font-size: 28px;
    }
      
    .Inicioc1contenido1, .Inicioc1contenido2, .Inicioc1contenido3 {
        font-size: 14px;
    }

    .Inicioc2{
        font-size: 26px;
        margin-top: 6%;
    }

    .Iniciocontactanos{
        margin-left: 6%;
        margin-top: 2%;
        font-size: 21px;
    }

    .Inicioc3contenido1{
        font-size: 49px;
        margin-top: 8%;
    }

    .Inicioc3contenido2{
        font-size: 33px;
        margin-top: 8%;
    }

    .Inicioc3contenido3{
        font-size: 28px;
        margin-top: 8%;
    }

    .Iniciocuadro1{
        margin-top: 13%;
    }

    .Cuotascuadro1, .Clasescuadro1, .Contactocuadro1, .Apuntatecuadro1{
        margin-top: 15%;
    }

    

    


  }

  @media (max-width: 1300px) {
    .Cuotassubinfo {
        font-size: 13px;
      }
  
      .Cuotastitulos {
          font-size: 31px;
      }
  
      .Cuotasbotonapuntate {
          font-size: 22px;
          margin-left: 17%;
      }

      .Cuotasc1contenido {
        font-size: 23px;
    }
      
      .Cuotasc1contenido1 {
        font-size: 13px;
    }

    .Clasesc1contenido{
        font-size: 24px;
    }

    .Clasesc1contenido1{
        font-size: 15px;
    }

    .Clasesdias {
        font-size: 24px;
    }

    .Claseshorarios {
        font-size: 23px;
    }

    .Clasesgridcontenido {
        font-size: 17px;
    }

    #Apuntateh3{
        font-size: 37px;
    }

    #Apuntateh2 {
        font-size: 32px;
    }

    .Inicioc1contenido {
        font-size: 25px;
    }
      
      .Inicioc1contenido1, .Inicioc1contenido2, .Inicioc1contenido3 {
        font-size: 14px;
    }

    .Inicioc2{
        font-size: 22px;
        margin-top: 7%;
    }

    .Iniciocontactanos{
        margin-left: 5%;
        margin-top: 3.5%;
        font-size: 18px;
    }

    .Inicioc3contenido1{
        font-size: 42px;
        margin-top: 12%;
    }

    .Inicioc3contenido2{
        font-size: 27px;
        margin-top: 12%;
    }

    .Inicioc3contenido3{
        font-size: 23px;
        margin-top: 12%;
    }

    .Iniciocuadro1{
        margin-top: 15%;
    }

    .Cuotascuadro1, .Clasescuadro1, .Contactocuadro1{
        margin-top: 22%;
    }

    .Apuntatecuadro1{
        margin-top: 20%;
    }
}

@media (max-width: 1050px) {
    
    .Inicioc2{
        font-size: 16.5px;
        margin-top: 9%;
    }

    .Iniciocontactanos{
        margin-left: 5%;
        margin-top: 4%;
        font-size: 18px;
    }

    .Inicioc3contenido1{
        font-size: 36px;
        margin-top: 12%;
    }

    .Inicioc3contenido2{
        font-size: 26px;
        margin-top: 12%;
    }

    .Inicioc3contenido3{
        font-size: 22px;
        margin-top: 12%;
    }

    .Iniciocuadro1, .Apuntatecuadro1{
        margin-top: 19%;
    }

    .Inicioc1contenido1, .Inicioc1contenido2, .Inicioc1contenido3 {
        font-size: 1;
        color:rgb(53, 56, 57);
    }

    .Cuotascuadro1{
        margin-top: 24%;
    }
}

@media (max-width: 900px) {
    .Cuotassubinfo {
        font-size: 11px;
      }
  
      .Cuotastitulos {
          font-size: 22px;
      }
  
      .Cuotasbotonapuntate {
          font-size: 18px;
          margin-left: 17%;
      }

      .Cuotasc1contenido {
        font-size: 21px;
    }
      
      .Cuotasc1contenido1 {
        font-size: 12px;
    }

    .Contactoc1contenido{
        font-size: 24px;
    }

    .Contactoc1contenido1{
        font-size: 14px;
    }

    .Clasesc1contenido{
        font-size: 21px;
    }

    .Clasesc1contenido1{
        font-size: 12.5px;
    }

    .Clasesdias {
        font-size: 18px;
    }

    .Claseshorarios {
        font-size: 17px;
    }

    .Clasesgridcontenido {
        font-size: 12px;
    }

    .Apuntatec1contenido {
        font-size: 22px;
    }

    .Apuntatec1contenido1 {
        font-size: 13.5px;
    }

    #Apuntateh3{
        font-size: 30px;
    }

    #Apuntateh2 {
        font-size: 24px;
    }

    .Inicioc1contenido {
        font-size: 22px;
    }
      
      .Inicioc1contenido1, .Inicioc1contenido2, .Inicioc1contenido3 {
        font-size: 12.5px;
    }

    .Inicioc2{
        font-size: 16px;
        margin-top: 7%;
    }

    .Iniciocontactanos{
        margin-left: 5%;
        margin-top: 6%;
        font-size: 17px;
    }

    .Inicioc3contenido1{
        font-size: 34px;
        margin-top: 14%;
    }

    .Inicioc3contenido2{
        font-size: 22px;
        margin-top: 14%;
    }

    .Inicioc3contenido3{
        font-size: 20px;
        margin-top: 14%;
    }

    .Iniciocuadro1{
        margin-top: 21%;
    }

    .Cuotascuadro1, .Clasescuadro1, .Contactocuadro1, .Apuntatecuadro1{
        margin-top: 26%;
    }
}

@media (max-width: 750px) {
    .Inicioc2{
        font-size: 12px;
        margin-top: 13%;
    }

    .Iniciocontactanos{
        margin-left: 5%;
        margin-top: 6%;
        font-size: 14px;
    }

    .Inicioc3contenido1{
        font-size: 26px;
        margin-top: 16%;
    }

    .Inicioc3contenido2{
        font-size: 20px;
        margin-top: 16%;
    }

    .Inicioc3contenido3{
        font-size: 19px;
        margin-top: 16%;
    }

    .Iniciocuadro1{
        margin-top: 29%;
    }

    .Cuotascuadro1, .Clasescuadro1, .Contactocuadro1, .Apuntatecuadro1{
        margin-top: 37%;
    }

    .Contactoc1contenido1{
        font-size: 13px;
    }

    #Apuntatebotonenviar{
        font-size: 15px;
    }
}



@media (max-width: 600px) {
    .Cuotassubinfo {
        font-size: 9px;
      }
  
      .Cuotastitulos {
          font-size: 19px;
      }
  
      .Cuotasbotonapuntate {
          font-size: 15px;
          margin-left: 17%;
      }

      .Cuotasc1contenido {
        font-size: 19px;
    }
      
      .Cuotasc1contenido1 {
        font-size: 10px;
    }

    .Contactoc1contenido{
        font-size: 20px;
    }

    .Contactoc1contenido1{
        font-size: 12px;
    }

    .Clasesc1contenido{
        font-size: 15.5px;
    }

    .Clasesc1contenido1{
        font-size: 11px;
    }

    .Clasesdias {
        font-size: 14px;
    }

    .Claseshorarios {
        font-size: 13px;
    }

    .Clasesgridcontenido {
        font-size: 10px;
    }

    .Apuntatec1contenido {
        font-size: 20px;
    }

    .Apuntatec1contenido1 {
        font-size: 12px;
    }

    #Apuntateh3{
        font-size: 25px;
    }

    #Apuntateh2 {
        font-size: 18.5px;
    }

    .Apuntaterelleno{
        margin-left: 13%;
    }

    .Inicioc1contenido {
        font-size: 21px;
    }
      
      .Inicioc1contenido1 {
        font-size: 9px;
    }

    .Inicioc1contenido {
        font-size: 17px;
    }
      
      .Inicioc1contenido1, .Inicioc1contenido2, .Inicioc1contenido3 {
        font-size: 10px;
    }

    .Inicioc2{
        font-size: 11.5px;
        margin-top: 14%;
    }

    .Iniciocontactanos{
        margin-left: 3%;
        margin-top: 6%;
        font-size: 12px;
    }

    .Inicioc3contenido1{
        font-size: 22px;
        margin-top: 16%;
    }

    .Inicioc3contenido2{
        font-size: 18px;
        margin-top: 16%;
    }

    .Inicioc3contenido3{
        font-size: 16px;
        margin-top: 16%;
    }
   
    .Iniciocuadro1{
        margin-top: 34%;
    }

    .Cuotascuadro1, .Clasescuadro1, .Contactocuadro1, .Apuntatecuadro1{
        margin-top: 49%;
    }
    
    #Apuntatebotonenviar{
        font-size: 13px;
    }
}